
.container {
  background-color: rgb(185, 224, 182);
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 100px rgba(197, 224, 186, 0.879);
  position: relative;
}

.submitButton {
  margin: 20px 5px;
  color: #29632f;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:  5px solid #05500b;
  transition: color 0.2s;
  box-shadow: 5px 5px 15px rgba(222, 224, 222, 0.783);
}

.submitButton:hover {
  color: #677974;
  border-color: #5c5225f0;
  font-size: 42px;
}

.cancelButton {
  position: absolute;
  top: 8px;
  left: 8px;
  background: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #e4e4e4;
  line-height: 1;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #1e5e2f;
}

.cancelButton:hover {
  color: #f00;
}
