.containerSearchBox {
    display: flex;
    width: 900px;
    height: 20px;
    margin: auto;
    align-items:center;
    justify-content: center;
    padding: 20px;
    background-color: #F7EED3;
    border-radius: 9px;

}
.containerSearchBox input {
    border-radius: 4px;
    width: 50px;
    height: 25px;
    border-color: white;
    background-color: aliceblue;
margin-top: 4px;
    justify-content: center;
   
}
.searchInputLable{
    color: rgb(61, 95, 72);
    padding: 10px;
    font-size: 20px;
    
}